@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* light mode */
    --color-light-primary: #f0f0e8;
    --color-light-gray: #cecece;
    --color-offwhite: #f2f2f2;

    /* dark mode */
    --color-dark-primary: #121a25;
    --color-dark-gray: #3a3a3a;
    --text: #e5e5e5;


    --color-blue-primary: #42a5f5;
    --color-blue-primary-hover: #64b5f6;


    --color-skeleton: #98987c;
    --color-skeleton-component: #c2c2a6;
    --color-skeleton-highlight: #6b6b54;

    /* footer */
    --color-blue-footer-end: #2c3e50;
    --color-footer-text: #a8d0e6;
}

.darkmode {
    background-color: var(--color-light-gray);

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-dark-gray);
        }
    }

    @variant dark {
        background-color: var(--color-dark-gray);

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-light-gray);
            }
        }
    }
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    background-color: var(--color-light-primary);
    color: var(--color-dark-primary);
}

body.dark {
    background-color: var(--color-dark-primary);
    color: var(--color-light-primary);
}

.shadow-header-light {
    box-shadow: 0 0 16px 0 rgb(0 0 0/14%);
}

.shadow-header-dark {
    box-shadow: 0 0 18px 2px #3a3a3a80;
}

.shadow-skeleton {
    box-shadow: inherit;
    box-shadow: 0 0 18px 2px var(--color-skeleton);
}

.light {
    background-color: var(--color-light-primary);
    color: var(--color-primary-dark);
    @variant dark {
        background-color: var(--color-primary-dark);
        color: var(--color-light-primary);
    }
}
