@theme inline {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1441px;
    --breakpoint-2xl: 2270px;
}

.container {
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .container {
        padding: 0 32px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .container {
        max-width: 85%;
        padding: 0 32px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1441px) {
    .container {
        max-width: 1632px;
        padding: 0 64px;
        margin: 0 auto;
    }
}
