@theme {
    --font-lato: "Lato", sans-serif;
    --font-machine: "Special Elite", system-ui;
}

body {
    font-family: 'SpecialElite', 'Lato', sans-serif;
}

h1 {
    font-family: "Special Elite";
}

h2,
h3,
h4,
h5,
h6,
p,
label {
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1px;
}

@font-face {
    font-family: "Special Elite";
    src: url("/portfolio/fonts/SpecialElite/SpecialElite-Regular.woff2")
            format("woff2"),
        url("/portfolio/fonts/SpecialElite/SpecialElite-Regular.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/portfolio/fonts/Lato/Lato-Black.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/portfolio/fonts/Lato/Lato-Bold.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/portfolio/fonts/Lato/Lato-BlackItalic.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/portfolio/fonts/Lato/Lato-BoldItalic.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/portfolio/fonts/Lato/Lato-Italic.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/portfolio/fonts/Lato/Lato-Light.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/portfolio/fonts/Lato/Lato-LightItalic.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/portfolio/fonts/Lato/Lato-Regular.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato Hairline";
    src: url("/portfolio/fonts/Lato/Lato-Hairline.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-Hairline.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato Hairline";
    src: url("/portfolio/fonts/Lato/Lato-HairlineItalic.woff2") format("woff2"),
        url("/portfolio/fonts/Lato/Lato-HairlineItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
