@import "tailwindcss";

:root {
    --theme-transition-duration: 0.5s;
    --theme-transition-timing: ease-in-out;
}

.transition-theme,
body,
h1,
svg,
a {
    transition: color var(--theme-transition-duration) ease-in-out,
        background-color var(--theme-transition-duration) ease-in-out,
        border-color var(--theme-transition-duration) ease-in-out,
        box-shadow var(--theme-transition-duration) ease-in-out,
        opacity var(--theme-transition-duration) ease-in-out;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
}

.slow-circle {
    animation: rotateCircle 3s linear infinite;
    transform-origin: center;
}
