@import "tailwindcss";
@import "./colors.css";
@import "./fonts.css";
@import "./animation.css";
@import "./typography.css";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
}

* {
    box-sizing: border-box;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    background-color: var(--color-light-primary);
    color: var(--color-dark-primary);
}

body.dark {
    background-color: var(--color-dark-primary);
    color: var(--color-light-primary);
}

.shadow-header-light {
    box-shadow: 0 0 16px 0 rgb(0 0 0/14%);
}

.shadow-header-dark {
    box-shadow: 0 0 18px 2px #3a3a3a80;
}

.light {
    background-color: var(--color-light-primary);
    color: var(--color-primary-dark);
    @variant dark {
        background-color: var(--color-primary-dark);
        color: var(--color-light-primary);
    }
}
