@import "tailwindcss";
@import "./colors.css";
@import "./fonts.css";
@import "./animation.css";

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
}

body.dark {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
}
