@import "tailwindcss";
@import "./colors.css";
@import "./fonts.css";

body {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
}

body.dark {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
}

.shadow-header-light {
    box-shadow: 0 0 16px 0 rgb(0 0 0/14%);
}

.shadow-header-dark {
    box-shadow: 0 0 18px 2px #3a3a3a80;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes up-and-down {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-14px);
    }
}

.up-and-down {
    animation: up-and-down 0.8s infinite;
}

.delay-1 {
    animation-delay: 0.1s;
}

.delay-2 {
    animation-delay: 0.3s;
}

.delay-3 {
    animation-delay: 0.5s;
}
