@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #f8f8f8;
    background: #3f3f3f;
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
