@import "tailwindcss";
@import "./styles/fonts.css";
@import "./styles/container.css";
@import "./styles/colors.css";
@import "./styles/animation.css";
@import "./styles/typography.css";

* {
    box-sizing: border-box;
}

.mouse-circle {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none; 
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.1s ease, background-color 0.3s ease; 
}

@media screen and (max-width: 359px) {
    .small-device-text {
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        -ms-word-break: break-all !important;
        word-break: break-word !important;
        -webkit-hyphens: auto !important;
        -ms-hyphens: auto !important;
        hyphens: auto !important;
    }
}
